/***********************************************
Top bar color 
***********************************************/

html {
	border-top: 20px solid #8A85A5;
}



/***********************************************
Body styling 
***********************************************/

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 0px 20px;
	font-size: 1.3em;
	line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
	color: #777;
	font-weight: 300;
}



/***********************************************
Image styling 
***********************************************/

img {
	border-radius: 100%;
	max-width: 340px;
}



/***********************************************
Headline styling 
***********************************************/
h1 {
	font-size: 1.5em;
	line-height: .5em;
	color: #564581;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	font-style: oblique;
	color: #aaa;

}

h3 {
	font-size: .875em;
	line-height: 1em;
	font-weight: normal;
}

h4 {
	margin-top: 60px;
	font-weight: 500;
  color: #564581;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #8A85A5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8A85A0;
}
